# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Plataformas que não serão enviadas
android/
ios/
windows/
macos/
linux/
web/
test/
metadata/

# IDEs
.idea/
*.iml
*.log
